<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../../mybatis-3-mapper.dtd">

<!-- 자바 Mapper 인터페이스 와 동일하게 작정 -->
<mapper namespace="com.nyang.drip.board.mapper.BoardMapper">

	<select id="selectBoardSearchList" parameterType="map" resultType="map">
		/* 게시판 리스트 조회 - 키워드 역인덱스 검색 (부분범위 처리 최적화) */
	    SELECT /*+ LEADING(X) USE_NL(B) INDEX(B PK_BOARD) NOPARALLEL */
	           B.BOARD_MST_ID,
	           B.BOARD_ID,
	           B.USER_ID,
	           B.TITLE,
	           B.CONTENT,
	           TO_CHAR(B.CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS CREATE_DATE,
	           TO_CHAR(B.UPDATE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS UPDATE_DATE,
		       
		       /* 오라클 서버 시간(TRUNC(SYSDATE))과 비교해서 오늘이면 Y, 아니면 N */
		       CASE WHEN TRUNC(B.CREATE_DATE) = TRUNC(SYSDATE) THEN 'Y' 
		            ELSE 'N' 
		       END AS IS_TODAY
	           
	    FROM   (
	            SELECT /*+ INDEX(BI IDX_01_BOARD_INVERTED) */ 
	                   BI.BOARD_MST_ID, BI.BOARD_ID
	            FROM   ADMIN.BOARD_INVERTED_INDEX BI
	            WHERE  BI.BOARD_MST_ID = #{boardMstId}
	            AND    BI.KEYWORD_TYPE = #{keywordType}
	
	            <if test="keywordList != null and keywordList.size() > 0">
	            AND    BI.KEYWORD IN 
	                <foreach collection="keywordList" item="item" open="(" separator="," close=")">             
	                    #{item, jdbcType=VARCHAR}  
	                </foreach>
	            </if>
	            
	           ) X
	    INNER JOIN ADMIN.BOARD B 
	       ON B.BOARD_MST_ID = X.BOARD_MST_ID 
	      AND B.BOARD_ID = X.BOARD_ID
	    
		<![CDATA[
	    	OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
	    ]]>
	</select>



    <select id="selectBoardList" parameterType="map" resultType="map">
	<![CDATA[
		/* 게시판 리스트 조회 */
		SELECT 	/*+ INDEX_DESC(B PK_BOARD) */ 
				B.BOARD_MST_ID,
				B.BOARD_ID,
				B.USER_ID,
				B.TITLE,
				B.CONTENT,
				TO_CHAR(B.CREATE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS CREATE_DATE,
				TO_CHAR(B.UPDATE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS UPDATE_DATE,
		       
		       /* 오라클 서버 시간(TRUNC(SYSDATE))과 비교해서 오늘이면 Y, 아니면 N */
		       CASE WHEN TRUNC(B.CREATE_DATE) = TRUNC(SYSDATE) THEN 'Y' 
		            ELSE 'N' 
		       END AS IS_TODAY
				
        FROM ADMIN.BOARD B
        WHERE B.BOARD_MST_ID = #{boardMstId}						/* 게시판 마스터 아이디 */

        ORDER BY B.BOARD_ID DESC
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY			/* 페이징 처리 변수 */
	]]>	
    </select>
    
    <select id="selectBoardDetail" parameterType="map" resultType="map">
	<![CDATA[
		/* 게시판 상세 데이터 조회 */
		SELECT  B.BOARD_MST_ID,
				B.BOARD_ID,
				B.USER_ID,
				B.TITLE,
				B.CONTENT,
				TO_CHAR(B.UPDATE_DATE, 'YYYY-MM-DD HH24:MI:SS') AS UPDATE_DATE

        FROM	ADMIN.BOARD B
        WHERE 	B.BOARD_MST_ID = #{boardMstId}	/* 게시판 마스터 아이디 */ 	
        AND   	B.BOARD_ID     = #{boardId} 	/* 게시판 아이디 */
	]]>	
    </select>
    
    <delete id="deleteBoard" parameterType="map">
	    /* 게시물 단위 통합 삭제 엔진 */
	    BEGIN
	        -- 1. 해당 게시글의 역인덱스 토큰 데이터 먼저 삭제 (참조 무결성 방어)
	        DELETE FROM ADMIN.BOARD_INVERTED_INDEX
	        WHERE  BOARD_MST_ID = #{boardMstId}
	        AND    BOARD_ID     = #{boardId};
	        
	        -- 2. 메인 게시판 테이블에서 해당 게시글 딱 1건 삭제
	        DELETE FROM BOARD
	        WHERE  BOARD_MST_ID = #{boardMstId}
	        AND    BOARD_ID     = #{boardId};
	    END;
	</delete>
    
	<update id="upsertBoard" parameterType="map">
		/* 게시판 역인덱스 통합 UPSERT 엔진 (오라클 변수 선언 버전) */
		DECLARE
			/* 1. 자바에서 넘어온 boardId를 담거나, 신규 발급받을 오라클 변수 선언 */
        	V_BOARD_ID VARCHAR2(16) := #{boardId, jdbcType=VARCHAR};

	    /* 1. 메인 게시판 테이블 업데이트 (오라클 다중 구문 처리를 위해 BEGIN~END로 살짝 감싸줍니다) */
	    BEGIN
	        
	        /* 💡 2. [등록 상황 방어] 만약 자바에서 넘어온 boardId가 null이면, 오라클 함수로 새 번호를 채웁니다. */
	        IF V_BOARD_ID IS NULL THEN
	            V_BOARD_ID := FN_GET_BOARD_SEQ();
	        END IF;
	        
	        /* 1. 메인 게시판 테이블 UPSERT (MERGE 사용) */
		    MERGE INTO BOARD B
		    USING DUAL
		       ON (B.BOARD_MST_ID = #{boardMstId} AND B.BOARD_ID = V_BOARD_ID)
		    WHEN MATCHED THEN
		        -- 💡 데이터가 존재하면 수정(UPDATE)
		        UPDATE SET 
		            B.TITLE   = #{title},
		            B.CONTENT = #{content}
		    WHEN NOT MATCHED THEN
		        -- 💡 데이터가 없으면 신규 등록(INSERT)
		        INSERT (B.BOARD_MST_ID, B.BOARD_ID,        B.TITLE,  B.CONTENT,  B.USER_ID, B.CREATE_DATE)
		        VALUES (#{boardMstId}, V_BOARD_ID, #{title}, #{content}, 'TEST',    SYSDATE);
	        
	        /* 2. 기존 역인덱스 데이터 초기화 */
	        DELETE FROM ADMIN.BOARD_INVERTED_INDEX
	        WHERE  BOARD_MST_ID = #{boardMstId}
	        AND    BOARD_ID     = V_BOARD_ID;
	        
	        /* 3. 제목(01) 역인덱스 다중 인서트 */
	        <if test="titleKeywordList != null and titleKeywordList.size() > 0">
	        INSERT ALL
	        <foreach collection="titleKeywordList" item="item" index="idx">
		        INTO ADMIN.BOARD_INVERTED_INDEX (BOARD_MST_ID, BOARD_ID, KEYWORD_TYPE, KEYWORD_SEQ, KEYWORD, CREATE_DATE)
		        VALUES (#{boardMstId}, V_BOARD_ID, '01', #{idx} + 1, #{item, jdbcType=VARCHAR}, SYSDATE)
	        </foreach>
	        SELECT * FROM DUAL;
	        </if>
	
	        /* 4. 본문(02) 역인덱스 다중 인서트 */
	        <if test="contentKeywordList != null and contentKeywordList.size() > 0">
	        INSERT ALL
	        <foreach collection="contentKeywordList" item="item" index="idx">
		        INTO ADMIN.BOARD_INVERTED_INDEX (BOARD_MST_ID, BOARD_ID, KEYWORD_TYPE, KEYWORD_SEQ, KEYWORD, CREATE_DATE)
		        VALUES (#{boardMstId}, V_BOARD_ID, '02', #{idx} + 1, #{item, jdbcType=VARCHAR}, SYSDATE)
	        </foreach>
	        SELECT * FROM DUAL;
	        </if>
	    END;
	</update>
    
    
    
    

</mapper>